.card{
  display: inline-block;
  text-align: center;
}

*{
  vertical-align: middle;
  font-family: 'Courier New', Courier, monospace;
}

img{
  width: 100px;
  margin: 30px;
  border: 1px solid red;
}

h6.black{
  color: black;
}

h6.red{
  color: red;
}

h6{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  margin: 0 10%;
  font-weight: lighter;
}

@media only screen and (max-width: 768px) {
  .card{
    width: 90vw;
  }
}

@media only screen and (min-width: 768px) {
  .card{
    width: 40vw;
  }
}

@media only screen and (min-width: 992px) {
  .card{
    width: 25vw;
  }
}

@media only screen and (min-width: 1200px) {
  .card{
    width: 30vw;
  }
}